menu "Firmware version Configuration"

    config SDK_VERSION
        string "SDK Version"
        default ""

    config SDK_URL
        string "SDK URL"
        default ""

    config SDK_HASH
        string "SDK Hash"
        default ""

endmenu
